:root {
    --color-bg: #10101a;
    --color-main: #578ce0;
    --color-secondary: #ffffffcc;
    --color-text: #ffffff;

    --font-big: 3.8rem;
    --font-h2: 1.9rem;
    --font-p: 1rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

body {
    background: var(--color-bg);
    color: var(--color-text);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-bg);
    padding: 24px 11%;
    transition: 0.3s;
}

section {
    padding: 120px 11%;
}

span {
    color: var(--color-main);
}

.btn {
    background: var(--color-main);
    color: var(--color-text);
    box-shadow: 4px 4px var(--color-text);
    padding: 0 25px;
    line-height: 42px;
    display: inline-block;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    transition: ease all 0.35s;

    &:hover {
        background-color: var(--color-text);
        color: var(--color-main);
        box-shadow: 4px 4px var(--color-main);
    }
}

.home {
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6rem;
    align-items: center;

    .home-text {
        h1 {
            font-size: var(--font-big);
            color: var(--color-text);
            font-weight: 700;
            line-height: 1;
            margin: 0 0 20px;
        }

        h5 {
            color: var(--color-text);
            font-size: 20px;
            font-weight: 500;
            margin: 0 0 20px;
        }

        h6 {
            color: var(--color-text);
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 25px;
        }

        p {
            max-width: 470px;
            font-size: var(--font-p);
            font-weight: 300;
            line-height: 1.4rem;
            margin-bottom: 1rem;
            color: var(--color-second-main);
        }
    }

    .home-img {
        img {
            max-width: 100%;
            width: 430px;
            height: auto;
            box-shadow: 0 20px 5px rgba(0, 0, 0, 0.2);
            animation: animate 5s ease-in-out infinite;
            transition: all is ease-in-out;
        }
    }
}

.logo {
    color: var(--color-text);
    font-size: 1.8rem;
    font-weight: 600;
}

.main-btn .btn {
    margin-right: 20px;
}

.navbar {
    display: flex;

    a {
        color: var(--color-text);
        font-size: 1rem;
        padding: 10px 20px;
        font-weight: 500;

        &:hover {
            background: var(--color-main);
            transition: 0.3s;
        }
    }
}

#menu-icon {
    font-size: 28px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

@keyframes animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

@media (max-width: 1430px) {
    :root {
        --font-big: 3rem;
        --font-h2: 1.2rem;
    }

    header {
        padding: 25px 3%;
    }

    section {
        padding: 50px 3%;
    }
}

@media (max-width: 1020px) {
    :root {
        --font-big: 3rem;
        --font-h2: 1.2rem;
        --font-p: 0.9rem;
    }

    .home {
        height: 70vh;
    }
}

@media (max-width: 830px) {
    header {
        padding: 18px 3%;
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: -700px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #0b0b13;
        box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);
        text-align: left;
        transition: 0.2s ease;

        &.active {
            top: 100%;
        }

        a {
            display: block;
            padding: 1rem;
            border-left: 2px solid var(--color-main);
            margin: 1rem;
            display: block;
        }
    }
}

@media (max-width: 795px) {
    .home {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        text-align: center;
        margin-top: 80px;
        height: 100vh;
    }

    .home-img {
        img {
            max-width: 100%;
            width: 490px;
            height: auto;
        }
    }

    .home-text p {
        max-width: 100%;
    }
}

@media (max-width: 400px) {
    .home-img {
        img {
            max-width: 100%;
            width: 300px;
            height: auto;
        }
    }
}
