:root {
  /* Colors */
  --color-bg: #10101a;
  --color-main: #578ce0;
  --color-secondary: #ffffffcc;
  --color-text: #ffffff;
  /* Typography */
  --font-big: 3.8rem;
  --font-h2: 1.9rem;
  --font-p: 1rem;
}

* {
  /* Box Model */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Typography */
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  list-style: none;
  /* Behavior */
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

body {
  /* Visual */
  background: var(--color-bg);
  color: var(--color-text);
}

header {
  /* Positioning */
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  /* Box Model */
  width: 100%;
  padding: 24px 11%;
  /* Layout */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Visual */
  background: var(--color-bg);
  /* Animation */
  transition: 0.3s;
}
header .logo {
  /* Typography */
  color: var(--color-text);
  font-size: 1.8rem;
  font-weight: 600;
}
header #navigation-bar-icon {
  /* Positioning */
  z-index: 10001;
  /* Display */
  display: none;
  /* Typography */
  font-size: 28px;
  /* Interactive */
  cursor: pointer;
}
header .navigation-bar {
  /* Layout */
  display: flex;
}
header .navigation-bar a {
  /* Box Model */
  padding: 10px 20px;
  /* Typography */
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 500;
}
header .navigation-bar a:hover {
  /* Visual */
  background: var(--color-main);
  /* Animation */
  transition: 0.3s;
}

section {
  /* Box Model */
  padding: 120px 11%;
}

span {
  /* Typography */
  color: var(--color-main);
}

.about {
  /* Layout */
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 5rem;
  align-items: center;
}
.about .image img {
  /* Box Model */
  width: 480px;
  max-width: 100%;
  height: auto;
}
.about .text h2 {
  /* Box Model */
  max-width: 470px;
  margin-bottom: 2rem;
  /* Typography */
  font-size: var(--font-h2);
  font-weight: 500;
  line-height: 1.2;
}
.about .text h3 {
  /* Box Model */
  margin: 0 0 30px;
  /* Typography */
  color: var(--color-text);
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 6px;
}
.about .text p {
  /* Box Model */
  max-width: 570px;
  margin-bottom: 1.5rem;
  /* Typography */
  color: var(--color-text);
  font-size: var(--font-p);
  font-weight: 300;
  line-height: 1.4rem;
}
.about .text .count {
  /* Box Model */
  margin-bottom: 2rem;
}
.about .text .count div {
  /* Box Model */
  margin-right: 20px;
  /* Typography */
  color: var(--color-text);
  word-spacing: 5px;
}
.about .text .count div span {
  /* Typography */
  color: var(--color-main);
  font-size: 1.9rem;
  font-weight: 600;
}

.button {
  /* Box Model */
  display: inline-block;
  padding: 0 25px;
  border: 1px solid transparent;
  /* Visual */
  background: var(--color-main);
  box-shadow: 4px 4px var(--color-text);
  color: var(--color-text);
  /* Typography */
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 42px;
  /* Animation */
  transition: ease all 0.35s;
}
.button:hover {
  /* Visual */
  background-color: var(--color-text);
  box-shadow: 4px 4px var(--color-main);
  color: var(--color-main);
}
.button.bigger-margin-right {
  /* Box Model */
  margin-right: 20px !important;
}

.copyright {
  /* Box Model */
  margin-top: 3rem;
  padding: 30px;
  /* Visual */
  background: #0b0b13;
  /* Typography */
  color: var(--color-text);
  line-height: 1.8rem;
  text-align: center;
}
.copyright .icon {
  /* Layout */
  display: flex;
  justify-content: center;
  gap: 2rem;
  /* Box Model */
  margin-bottom: 2rem;
}
.copyright .icon a {
  /* Typography */
  color: var(--color-text);
  font-size: 20px;
  /* Interactive */
  cursor: pointer;
  /* Animation */
  transition: 0.4s ease;
}
.copyright .icon i:hover {
  /* Typography */
  color: var(--color-main);
}

.home {
  /* Positioning */
  position: relative;
  /* Box Model */
  width: 100%;
  height: 100vh;
  margin-bottom: 4rem;
  /* Layout */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6rem;
  align-items: center;
}
.home .text h1 {
  /* Box Model */
  margin: 0 0 20px;
  /* Typography */
  color: var(--color-text);
  font-size: var(--font-big);
  font-weight: 700;
  line-height: 1;
  text-wrap: nowrap;
}
.home .text h6 {
  /* Box Model */
  margin-bottom: 25px;
  /* Layout */
  display: flex;
  flex-direction: row;
  /* Typography */
  color: var(--color-text);
  font-size: 18px;
  font-weight: 500;
  text-wrap: nowrap;
}
.home .text h6 div {
  /* Box Model */
  margin-right: 0.25rem;
}
.home .text p {
  /* Box Model */
  max-width: 470px;
  margin-bottom: 1rem;
  /* Typography */
  color: var(--color-text);
  font-size: var(--font-p);
  font-weight: 300;
  line-height: 1.4rem;
}
.home .image img {
  /* Box Model */
  width: 430px;
  max-width: 100%;
  height: auto;
  /* Visual */
  box-shadow: 0 20px 5px rgba(0, 0, 0, 0.2);
  /* Animation */
  transition: all 1s ease-in-out;
  animation: animate 5s ease-in-out infinite;
}

.timeline {
  /* Box Model */
  padding: 6rem 0 4rem 0 !important;
}
.timeline .content-container {
  /* Layout */
  display: grid;
  grid-column: 1fr, 1fr;
}
.timeline .content-container [data-content] {
  /* Display */
  display: none;
}
.timeline .content-container .content {
  /* Box Model */
  max-width: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.timeline .content-container .content .item-container[data-content] {
  /* Display */
  display: block;
}
.timeline .content-container .content .item-container .item {
  /* Layout */
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  /* Typography */
  line-height: 1.2rem;
}
.timeline .content-container .content .item-container .item .item-title {
  /* Typography */
  font-size: 0.938rem;
  font-weight: 500;
  line-height: 1.4rem;
}
.timeline .content-container .content .item-container .item .item-subtitle {
  /* Box Model */
  margin-bottom: 0.75rem;
  /* Display */
  display: inline-block;
  /* Typography */
  font-size: 0.813rem;
}
.timeline .content-container .content .item-container .item .item-subtitle li {
  /* Box Model */
  margin-bottom: 0.5rem;
}
.timeline .content-container .content .item-container .item .item-point {
  /* Typography */
  font-weight: bold;
}
.timeline .content-container .content .item-container .item .item-list {
  /* Box Model */
  margin-left: 1rem;
}
.timeline .content-container .content .item-container .item .item-list li {
  /* Box Model */
  margin-bottom: 0.2rem;
  /* List Style */
  list-style-type: disc;
}
.timeline .content-container .content .item-container .item .item-list li .item-list-sub-text {
  /* Box Model */
  margin-bottom: 0.4rem;
  margin-left: 1rem;
}
.timeline .content-container .content .item-container .item .item-list li .item-list-sub-text li {
  /* Box Model */
  margin-bottom: 0.1rem;
  /* Typography */
  color: var(--color-secondary);
  font-size: 0.75rem;
  /* List Style */
  list-style-type: disc;
}
.timeline .content-container .content .item-container .item .item-link {
  /* Typography */
  color: var(--color-main);
}
.timeline .content-container .content .item-container .item .item-link:hover {
  color: var(--color-text) !important;
}
.timeline .content-container .content .item-container .item .item-date {
  /* Typography */
  color: var(--color-main);
  font-size: 0.75rem;
}
.timeline .content-container .content .item-container .item .item-rounder {
  /* Display */
  display: inline-block;
  /* Box Model */
  width: 13px;
  height: 13px;
  /* Visual */
  background-color: var(--color-main);
  border-radius: 50%;
}
.timeline .content-container .content .item-container .item .item-line {
  /* Display */
  display: block;
  /* Box Model */
  width: 1px;
  height: 100%;
  /* Visual */
  background-color: var(--color-main);
  /* Transform */
  transform: translate(6px, -7px);
}

.title {
  /* Box Model */
  margin-bottom: 2rem;
  /* Typography */
  text-align: center;
}
.title h3 {
  /* Typography */
  color: var(--color-text);
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 6px;
}

.project .swiper-slide-shadow-left,
.project .swiper-slide-shadow-right {
  /* Visual */
  background-image: none !important;
}
.project .container {
  /* Box Model */
  width: 100%;
  margin-top: 4rem;
}
.project .container .swiper {
  /* Layout */
  display: flex;
  justify-content: center;
}
.project .container .swiper .content {
  /* Box Model */
  width: 75%;
  /* Layout */
  display: grid;
  gap: 1.5rem;
  /* Typography */
  line-height: 1.2rem;
}
.project .container .swiper .content .image {
  /* Box Model */
  width: 265px;
  /* Layout */
  justify-self: center;
  /* Visual */
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 0.5rem;
  /* Interactive */
  cursor: pointer;
  /* Animation */
  transition: all 0.3s ease;
}
.project .container .swiper .content .image:hover {
  /* Visual */
  opacity: 50%;
}
.project .container .swiper .content .data {
  /* Box Model */
  width: 100%;
  /* Layout */
  justify-self: center;
}
.project .container .swiper .content .data .title {
  /* Box Model */
  margin-bottom: 0.1rem;
  /* Typography */
  font-size: 1.125rem;
  text-align: center;
  text-wrap: nowrap;
}
.project .container .swiper .content .data .subtitle {
  /* Box Model */
  margin-bottom: 0.5rem;
  /* Typography */
  font-size: 0.813rem;
  text-align: center;
}
.project .container .swiper .content .data .link {
  /* Typography */
  color: var(--color-main);
}
.project .container .swiper .content .data .link:hover {
  color: var(--color-text);
}
.project .container .swiper .content .data .link i {
  /* Typography */
  font-size: 0.9rem;
}
.project .container .swiper .content .data .description {
  /* Box Model */
  margin-bottom: 0.75rem;
  /* Typography */
  text-align: center;
}
.project .container .swiper .content .data .badges {
  /* Layout */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.project .container .swiper .content .data .badges .badge {
  /* Box Model */
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

/* Animations */
@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
/* Media Queries */
@media (max-width: 1430px) {
  :root {
    /* Typography */
    --font-big: 3rem;
    --font-h2: 1.2rem;
  }
  header {
    /* Box Model */
    padding: 25px 3%;
  }
  section {
    /* Box Model */
    padding: 50px 3%;
  }
}
@media (max-width: 1020px) {
  :root {
    /* Typography */
    --font-big: 3rem;
    --font-h2: 1.2rem;
    --font-p: 0.9rem;
  }
  .home {
    /* Box Model */
    height: 70vh;
    margin-top: 4rem;
  }
}
@media (max-width: 900px) {
  .timeline .content-container {
    /* Layout */
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5rem;
  }
}
@media (max-width: 830px) {
  header {
    /* Box Model */
    padding: 18px 3%;
  }
  header #navigation-bar-icon {
    /* Display */
    display: block;
  }
  header .navigation-bar {
    /* Positioning */
    position: absolute;
    top: -700px;
    left: 0;
    right: 0;
    /* Layout */
    display: flex;
    flex-direction: column;
    /* Box Model */
    margin: 0;
    /* Visual */
    background: #0b0b13;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.7);
    text-align: left;
    /* Animation */
    transition: 0.2s ease;
  }
  header .navigation-bar.active {
    /* Positioning */
    top: 100%;
  }
  header .navigation-bar a {
    /* Display */
    display: block;
    /* Box Model */
    margin: 1rem;
    padding: 1rem;
    border-left: 2px solid var(--color-main);
  }
}
@media (max-width: 795px) {
  .home {
    /* Box Model */
    height: 100vh;
    margin-top: 80px;
    /* Layout */
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    /* Typography */
    text-align: center;
  }
  .home .image img {
    /* Box Model */
    width: 490px;
    max-width: 100%;
    height: auto;
  }
  .home .text {
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home .text h1 {
    /* Typography */
    text-wrap: wrap;
  }
  .home .text h6 {
    /* Layout */
    flex-direction: column;
  }
  .home .text h6 div {
    /* Box Model */
    margin-right: 0;
  }
  .home .text p {
    /* Box Model */
    max-width: 90%;
  }
  .about {
    /* Box Model */
    margin-top: 8rem;
    /* Layout */
    display: grid;
    grid-template-columns: 1fr;
    /* Typography */
    text-align: center;
  }
  .about .image {
    /* Layout */
    order: 2;
  }
  .about .text {
    /* Box Model */
    max-width: 90%;
    /* Layout */
    justify-self: center;
  }
}
@media (max-width: 400px) {
  .home .image img {
    /* Box Model */
    width: 300px;
    max-width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 350px) {
  .timeline .content-container .content {
    /* Box Model */
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .timeline .content-container .content .content-section .item-container .item {
    /* Layout */
    gap: 0.5rem;
  }
}
@media screen and (min-width: 568px) {
  .timeline .content-container .content .content-section {
    /* Layout */
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
  }
  .project .container .swiper .content .data {
    /* Box Model */
    width: 55%;
  }
}
@media screen and (min-width: 768px) {
  .timeline {
    /* Box Model */
    padding: 6rem 0 2rem;
  }
  .timeline .content-container .content {
    /* Box Model */
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .timeline .content-container .content .content-section {
    /* Layout */
    grid-template-columns: 0.5fr;
  }
  .project .container .swiper .content {
    /* Layout */
    align-items: center;
  }
  .project .container .swiper .content .data {
    /* Box Model */
    width: 55%;
  }
  .project .container .swiper .content .image {
    /* Box Model */
    width: 350px;
  }
}
@media screen and (min-width: 1024px) {
  .project {
    /* Box Model */
    height: 100vh;
  }
  .project .container .swiper .content .data {
    /* Box Model */
    width: 55%;
  }
  .project .container .swiper .content .image {
    /* Box Model */
    width: 500px;
  }
}
@media screen and (min-width: 1408px) {
  .project {
    /* Box Model */
    padding-left: 0;
    padding-right: 0;
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project .container .swiper .content {
    /* Layout */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
  }
  .project .container .swiper .content .data {
    /* Box Model */
    width: 100%;
  }
  .project .container .swiper .content .data .title {
    /* Typography */
    text-align: left;
  }
  .project .container .swiper .content .data .subtitle {
    /* Typography */
    text-align: left;
  }
  .project .container .swiper .content .data .description {
    /* Typography */
    text-align: justify;
  }
}/*# sourceMappingURL=globals.css.map */